In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [2]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       7.568469     True          22          1             46.0
1       8.807467     True          39          1             42.0
2       8.313632     True          23          1             35.0
3       8.000575    False          27          1             40.0
4       6.563162    False          29          1             39.0

In [3]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9991.000000  10000.000000  10000.000000      9888.000000
mean        7.278609     27.365300      1.030300        38.681634
std         1.354406      6.235699      0.183808         2.622498
min         0.500449     12.000000      1.000000        19.000000
25%         6.624891     22.000000      1.000000        38.000000
50%         7.374463     27.000000      1.000000        39.000000
75%         8.124034     32.000000      1.000000        40.000000
max        12.936726     51.000000      4.000000        47.000000

In [4]:
df['is_male'].value_counts()

True     5190
False    4810
Name: is_male, dtype: int64

In [5]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [6]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [7]:
x,y = data,labels
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [8]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(len(x_train.iloc[0]),)),
    Dense(32, activation='relu'),
    Dense(1)]
)

In [9]:
model.compile(optimizer=tf.keras.optimizers.RMSprop(),
              loss=tf.keras.losses.MeanSquaredError(),
              metrics=['mae', 'mse'])

In [10]:
model.fit(x_train, y_train, epochs=10, validation_split=0.1)

Epoch 1/10
209/209 [==============================] - 1s 4ms/step - loss: 7.6477 - mae: 1.5230 - mse: 7.6477 - val_loss: 1.2228 - val_mae: 0.8488 - val_mse: 1.2228
Epoch 2/10
209/209 [==============================] - 1s 3ms/step - loss: 1.3933 - mae: 0.9204 - mse: 1.3933 - val_loss: 1.3028 - val_mae: 0.8790 - val_mse: 1.3028
Epoch 3/10
209/209 [==============================] - 1s 3ms/step - loss: 1.3567 - mae: 0.9054 - mse: 1.3567 - val_loss: 1.4337 - val_mae: 0.9323 - val_mse: 1.4337
Epoch 4/10
209/209 [==============================] - 1s 5ms/step - loss: 1.3192 - mae: 0.8906 - mse: 1.3192 - val_loss: 1.2429 - val_mae: 0.8601 - val_mse: 1.2429
Epoch 5/10
209/209 [==============================] - 1s 3ms/step - loss: 1.3102 - mae: 0.8885 - mse: 1.3102 - val_loss: 1.3416 - val_mae: 0.8998 - val_mse: 1.3416
Epoch 6/10
209/209 [==============================] - 2s 8ms/step - loss: 1.2845 - mae: 0.8815 - mse: 1.2845 - val_loss: 1.3078 - val_mae: 0.8832 - val_mse: 1.3078
Epoch 7/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2730 - mae: 0.8778 - mse: 1.2730 - val_loss: 1.4132 - val_mae: 0.9289 - val_mse: 1.4132
Epoch 8/10
209/209 [==============================] - 1s 4ms/step - loss: 1.2620 - mae: 0.8723 - mse: 1.2620 - val_loss: 1.2022 - val_mae: 0.8382 - val_mse: 1.2022
Epoch 9/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2568 - mae: 0.8703 - mse: 1.2568 - val_loss: 1.4599 - val_mae: 0.9459 - val_mse: 1.4599
Epoch 10/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2451 - mae: 0.8662 - mse: 1.2451 - val_loss: 1.2115 - val_mae: 0.8495 - val_mse: 1.2115

In [11]:
num_examples = 10
predictions = model.predict(x_test[:num_examples])

In [12]:
for i in range(num_examples):
    print('Predicted val: ', predictions[i][0])
    print('Actual val: ',y_test.iloc[i])
    print()

Predicted val:  7.0532465
Actual val:  8.24969784404

Predicted val:  8.297029
Actual val:  7.3744626639

Predicted val:  8.078236
Actual val:  9.7775013197

Predicted val:  6.9599485
Actual val:  6.87401332916

Predicted val:  7.5341306
Actual val:  6.3118345610599995

Predicted val:  7.314255
Actual val:  7.50012615324

Predicted val:  7.8596883
Actual val:  7.84184265934

Predicted val:  5.98059
Actual val:  5.5997414548

Predicted val:  7.5318003
Actual val:  6.93794738514

Predicted val:  7.853184
Actual val:  8.68841774542